:root[theme='dark'] {
  --primary-color: #242526;
  --primary-text-color: #e4e5eb;
  --paragraph-color: #3a3b3c;
  --text-input-background: #3a3b3c;
  --text-input-color: #e4e6ea;
  --a-href-color: #b0b3b8;
  --border-color: #242526;
}
