:root[theme='light'] {
  --primary-color: #fff;
  --primary-text-color: #050505;
  --paragraph-color: #f0f2f5;
  --text-input-background: #f0f2f5;
  --text-input-color: #65676c;
  --a-href-color: #050505;
  --border-color: #f0f2f5;
}
