// Themes
@import 'light';
@import 'dark';

body {
  font-family: "Helvetica Neue";
}

.comment-feature {
  width: 680px;
  margin: 40px auto 0 auto;
  .switch-theme {
    margin-bottom: 10px;
    span {
      display: inline-block;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
    }
  }
  .comment-feature-loading {
    background-color: var(--primary-color);
    min-height: 200px;
    span {
      display: block;
      width: 38px;
      height: 38px;
      margin: 0 auto;
      padding-top: 70px;
    }
  }
}

.icon-reply-dark {
  display: inline-block;
  background: url('../images/sprite.png') no-repeat 0 0;
  background-size: 73px 329px;
  width: 13px;
  height: 11px;
  -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
}
