.wrapper {
  background-color: var(--primary-color);
  padding: 20px 0;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  a:hover {
    text-decoration: underline;
  }
  .previous-comment-text {
    color: var(--a-href-color);
    padding: 0 16px;
    font-size: 15px;
    cursor: pointer;
  }
  .avatar {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  ul {
    padding: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      padding: 4px 16px 0 16px;
      &:first-child {
        padding-top: 0;
      }
      .user-comment {
        .detail {
          display: inline-block;
          max-width: calc(100% - 38px);
          .comment-content {
            background: var(--paragraph-color);
            color: var(--primary-text-color);
            border-radius: 18px;
            padding: 8px 12px;
            .username {
              font-size: 13px;
              cursor: pointer;
              font-weight: 500;
            }
            .content {
              font-size: 15px;
              padding: 4px 0;
              line-height: 20px;
            }
            .see-more {
              font-size: 15px;
              font-weight: 500;
              cursor: pointer;
            }
          }
          .comment-settings {
            font-size: 12px;
            padding-left: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
            color: var(--a-href-color);
            .reply {
              font-weight: 700;
              color: var(--a-href-color);
              cursor: pointer;
            }
            .time {
              font-weight: 400;
              color: var(--a-href-color);
              cursor: pointer;
            }
          }
        }
        ul {
          padding-left: 30px;
          .user-comment {
            .avatar {
              width: 24px;
              height: 24px;
            }
          }
        }
        .user-input {
          padding-left: 46px;
          padding-right: 0;
          .avatar {
            width: 24px;
            height: 24px;
            margin-top: 6px;
          }
          .input {
            width: calc(100% - 30px);
          }
        }
      }
    }
  }
  .view-more-reply {
    padding-left: 45px;
    color: var(--a-href-color);
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    i {
      font-size: 16px;
      margin: 0 12px 0 6px;
    }
    span {
      font-size: 15px;
    }
  }
  .user-input {
    padding: 0 16px;
    .avatar {
      display: inline-block;
    }
    .input {
      display: inline-block;
      width: calc(100% - 38px);
      padding: 4px 0;
      input {
        width: calc(100% - 24px);
        padding: 8px 12px;
        background: var(--text-input-background);
        color: var(--text-input-color);
        border-radius: 18px;
        outline: none;
        resize: none;
        border: none;
      }

    }
  }
}
